In [1]:
import re
import pandas as pd
from arabic_content import EGYPT_GOVS_V2, GOVS_MAPPING_V2

df = pd.read_json('../Scrapping/data_not_ready/missing_people.json')
df.head()

,id,name_arabic,name_english,government_arabic,government_english,missing_date,current_age,number_of_images,missing_date_ar,missing_date_en,day,month,year
0,0,داليا محمد نبقه,Dalia Mhmd Nbqh,الغربيه,Gharbia,٢٠‏/٠٩‏/٢٠١١,11,1,٢٠-٠٩-٢٠١١,2011-09-20T00:00:00.000Z,20.0,9.0,2011.0
1,1,سلمي احمد مصطفي,Slmi Ahmd Mstfi,مفقود,Null,٢٢‏/٠٥‏/٢٠١٣,13,14,٢٢-٠٥-٢٠١٣,2013-05-22T00:00:00.000Z,22.0,5.0,2013.0
2,2,مؤمن اسلام محمد قمبر,Moumn Aslam Mhmd Qmbr,مفقود,Null,١٤‏/٠٦‏/٢٠١٤,10,5,١٤-٠٦-٢٠١٤,2014-06-14T00:00:00.000Z,14.0,6.0,2014.0
3,3,ندا تامر عبد النبي,Nda Tamr Abd Alnbi,القليوبيه,Qualyubia,٢١‏/٠٧‏/٢٠١٥,12,8,٢١-٠٧-٢٠١٥,2015-07-21T00:00:00.000Z,21.0,7.0,2015.0
4,5,سيد محروس محمد عوض الله,Sid Mhrous Mhmd Aoud Allh,مفقود,Null,٠٦‏/١١‏/٢٠١٥,11,2,٠٦-١١-٢٠١٥,2015-06-11T00:00:00.000Z,11.0,6.0,2015.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1211 entries, 0 to 1210
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1211 non-null   int64
 1   name_arabic         1211 non-null   object
 2   name_english        1211 non-null   object
 3   government_arabic   1211 non-null   object
 4   government_english  1211 non-null   object
 5   missing_date        1211 non-null   object
 6   current_age         1211 non-null   int64
 7   number_of_images    1211 non-null   int64
 8   missing_date_ar     1211 non-null   object
 9   missing_date_en     1210 non-null   object
 10  day                 1210 non-null   float64
 11  month               1210 non-null   float64
 12  year                1210 non-null   float64
dtypes: float64(3), int64(3), object(7)
memory usage: 123.1+ KB

In [3]:
# columns name lower case
df.columns = df.columns.map(lambda x: x.lower() if x != "imageRefExtra" and  x !="imageRef" else x)
df.columns

Index(['id', 'url', 'name_arabic', 'name_english', 'government_arabic',
       'government_english', 'missing_date', 'current_age', 'image',
       'imageRef', 'number_of_images'],
      dtype='object')

In [4]:
df["government_arabic"].value_counts()

مفقود        518
جيز          158
قاهر         158
منيا          92
سكندر         76
قليوب         72
شرقي          67
سوهاج         62
دقهل          55
سيوط          54
غربي          49
منوفي         37
قنا           37
بحير          34
فيوم          29
سويف          29
دمياط         25
سوان          21
قصر            9
سويس           8
كفر الشيخ      4
بورسعيد        4
مطروح          4
سينا           3
حمر            2
بور سعيد       1
Name: government_arabic, dtype: int64

In [5]:
# extract date from text
df["missing_date"] = df["missing_date"].apply(lambda x: x[15:])

In [6]:
# fix date format in arabic
df["missing_date_ar"] = df["missing_date"].apply(lambda x: "-".join(list(map(str, re.findall(r'\d+',x)))))

In [7]:
# convert date in arabic to english
df['missing_date_en'] = pd.to_datetime(df.missing_date_ar)

In [8]:
# extract age from text
df["current_age"] = df["current_age"].apply(lambda x: x[32:])

In [9]:
# convert age to int
df["current_age"] = df["current_age"].astype(int)

In [10]:
df["number_of_images"] = None

In [13]:
# number of available images per person
import os
listdirectory = os.listdir('../Scrapping/data_not_ready/images')
print(len(listdirectory))
for i in range(len(listdirectory)):
    df.loc[df['name_arabic'] == listdirectory[i], 'number_of_images'] = len(os.listdir(f'../Scrapping/data_not_ready/images/{listdirectory[i]}'))

1595

In [14]:
df["number_of_images"].value_counts()

1     1175
2      274
3       79
4       37
5       12
8        9
0        8
7        4
14       2
6        2
28       1
16       1
10       1
12       1
11       1
15       1
Name: number_of_images, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1608 entries, 0 to 1607
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1608 non-null   int64
 1   url                 1608 non-null   object
 2   name_arabic         1608 non-null   object
 3   name_english        1608 non-null   object
 4   government_arabic   1608 non-null   object
 5   government_english  1608 non-null   object
 6   missing_date        1608 non-null   object
 7   current_age         1608 non-null   int64
 8   image               1608 non-null   object
 9   imageRef            1608 non-null   object
 10  number_of_images    1608 non-null   object
 11  missing_date_ar     1608 non-null   object
 12  missing_date_en     1607 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 163.4+ KB

In [16]:
df.number_of_images.value_counts()

1     1175
2      274
3       79
4       37
5       12
8        9
0        8
7        4
14       2
6        2
28       1
16       1
10       1
12       1
11       1
15       1
Name: number_of_images, dtype: int64

In [17]:
# fix names of govs
for i in GOVS_MAPPING_V2:
    for x in EGYPT_GOVS_V2:
        if i in x:
            df["government_arabic"].replace({i: x}, inplace=True)
df["government_arabic"].value_counts()

مفقود           518
الجيزه          158
القاهرة         158
المنيا           92
الاسكندريه       76
القليوبيه        72
الشرقيه          67
سوهاج            62
الدقهلية         55
أسيوط            54
الغربيه          49
المنوفيه         37
قنا              37
البحيرة          34
الفيوم           29
بني سويف         29
دمياط            25
أسوان            21
الأقصر            9
السويس            8
كفر الشيخ         4
بورسعيد           4
مرسى مطروح        4
جنوب سيناء        3
البحر الأحمر      2
بور سعيد          1
Name: government_arabic, dtype: int64

In [18]:
df.head()

,id,url,name_arabic,name_english,government_arabic,government_english,missing_date,current_age,image,imageRef,number_of_images,missing_date_ar,missing_date_en
0,1,https://atfalmafkoda.com/ar/report-missing-mod...,داليا محمد نبقه,Dalia Mhmd Nbqh,الغربيه,Gharbia,٢٠‏/٠٩‏/٢٠١١,11,[https://atfalmafkoda.com//uploads/ReportMissi...,0001_0.jpg,1,٢٠-٠٩-٢٠١١,2011-09-20
1,2,https://atfalmafkoda.com/ar/report-missing-mod...,سلمي احمد مصطفي,Slmi Ahmd Mstfi,مفقود,Null,٢٢‏/٠٥‏/٢٠١٣,13,[https://atfalmafkoda.com//uploads/ReportMissi...,0002_0.jpg,14,٢٢-٠٥-٢٠١٣,2013-05-22
2,3,https://atfalmafkoda.com/ar/report-missing-mod...,مؤمن اسلام محمد قمبر,Moumn Aslam Mhmd Qmbr,مفقود,Null,١٤‏/٠٦‏/٢٠١٤,10,[https://atfalmafkoda.com//uploads/ReportMissi...,0003_0.jpg,5,١٤-٠٦-٢٠١٤,2014-06-14
3,4,https://atfalmafkoda.com/ar/report-missing-mod...,ندا تامر عبد النبي,Nda Tamr Abd Alnbi,القليوبيه,Qualyubia,٢١‏/٠٧‏/٢٠١٥,12,[https://atfalmafkoda.com//uploads/ReportMissi...,0004_0.jpg,8,٢١-٠٧-٢٠١٥,2015-07-21
4,5,https://atfalmafkoda.com/ar/report-missing-mod...,مازن طارق حسن السمالوطي,Mazn Tarq Hsn Alsmalouti,المنيا,Minya,١٢‏/١١‏/٢٠١٠,17,[https://atfalmafkoda.com//uploads/ReportMissi...,0005_0.jpg,8,١٢-١١-٢٠١٠,2010-12-11

In [19]:
df.number_of_images.unique()

array([1, 14, 5, 8, 2, 4, 28, 16, 3, 10, 7, 12, 6, 11, 15, 0],
      dtype=object)

In [20]:
# split date
df['day'] = df.missing_date_en.dt.day
df['month'] = df.missing_date_en.dt.month
df['year'] = df.missing_date_en.dt.year

In [21]:
df.year.value_counts()

2020.0    323
2019.0    190
2016.0    129
2018.0    115
2017.0     93
2015.0     74
2014.0     73
2011.0     71
2021.0     60
2012.0     49
1970.0     41
2013.0     41
2010.0     29
2007.0     29
2009.0     24
2002.0     21
2006.0     18
2005.0     17
2003.0     16
1996.0     15
1991.0     14
2004.0     13
2008.0     13
2000.0     13
1997.0     12
1992.0     11
1994.0     11
1998.0     10
1999.0     10
2001.0      9
1990.0      6
1993.0      5
1983.0      5
1984.0      5
1980.0      5
1982.0      4
1995.0      4
1976.0      4
1986.0      4
1974.0      3
1987.0      3
1981.0      2
1977.0      2
1989.0      2
1985.0      2
1979.0      2
1972.0      1
1973.0      1
1975.0      1
1988.0      1
1969.0      1
Name: year, dtype: int64

In [22]:
df.drop(["url", 'image'], axis=1, inplace=True)

In [23]:
df.head()

,id,name_arabic,name_english,government_arabic,government_english,missing_date,current_age,imageRef,number_of_images,missing_date_ar,missing_date_en,day,month,year
0,1,داليا محمد نبقه,Dalia Mhmd Nbqh,الغربيه,Gharbia,٢٠‏/٠٩‏/٢٠١١,11,0001_0.jpg,1,٢٠-٠٩-٢٠١١,2011-09-20,20.0,9.0,2011.0
1,2,سلمي احمد مصطفي,Slmi Ahmd Mstfi,مفقود,Null,٢٢‏/٠٥‏/٢٠١٣,13,0002_0.jpg,14,٢٢-٠٥-٢٠١٣,2013-05-22,22.0,5.0,2013.0
2,3,مؤمن اسلام محمد قمبر,Moumn Aslam Mhmd Qmbr,مفقود,Null,١٤‏/٠٦‏/٢٠١٤,10,0003_0.jpg,5,١٤-٠٦-٢٠١٤,2014-06-14,14.0,6.0,2014.0
3,4,ندا تامر عبد النبي,Nda Tamr Abd Alnbi,القليوبيه,Qualyubia,٢١‏/٠٧‏/٢٠١٥,12,0004_0.jpg,8,٢١-٠٧-٢٠١٥,2015-07-21,21.0,7.0,2015.0
4,5,مازن طارق حسن السمالوطي,Mazn Tarq Hsn Alsmalouti,المنيا,Minya,١٢‏/١١‏/٢٠١٠,17,0005_0.jpg,8,١٢-١١-٢٠١٠,2010-12-11,11.0,12.0,2010.0

In [24]:
# save data into json with images refrences
# Path to image is (./Scrapped_Data/name_ar/imageRef or 'imageRefExtra if available')
df.to_json('../Scrapping/data_not_ready/missing_people_with_image_columns.json', indent = 4,orient="records", force_ascii=False, date_format='iso')

In [ ]:
# drop images columns
df.drop(["imageRef"], axis=1, inplace=True)

In [82]:
# save data without images refrences
df.to_json('../Scrapping/data_not_ready/missing_people_without_image_columns.json',  indent = 4,orient="records", force_ascii=False, date_format='iso')